<form class="g-3 mt-3" [formGroup]="formGroup">
  <div class="mb-3 d-flex justify-content-sm-between">
    <label for="price" class="col-auto">Price $</label>
    <div class="col-sm-5">
      <input type="number" formControlName="price" class="form-control" id="price" placeholder="Price">
    </div>
  </div>
  <div class="mb-3 d-flex justify-content-sm-between">
    <label for="count" class="col-auto">Count</label>
    <div class="col-sm-5">
      <input type="number" formControlName="count" class="form-control" id="count" placeholder="count">
    </div>
  </div>
  <div class="mb-3 d-flex justify-content-sm-between">
    <label for="totalPrice" class="col-auto">Total Price</label>
    <div class="col-sm-5">
      <input readonly disabled type="number" [value]="countValue()" class="form-control" id="totalPrice"
             placeholder="Total Price">
    </div>
  </div>
  <div class="btn-group offset-9 col-auto">
    <button (click)="remove()" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
    <button [disabled]="formGroup.invalid" (click)="save()" class="btn btn-success ms-3"><i class="bi bi-save"></i></button>
  </div>
</form>
