<li class="list-group-item pointer">
  <form action="" [formGroup]="formGroup">
    <input formControlName="isDoneControl"
           class="form-check-input me-3"
           type="checkbox" id="checkboxNoLabel"
           [checked]="formGroup.controls.isDoneControl.value">
    <span class="title-block">
      <span [ngClass]="{'text-decoration-line-through': formGroup.controls.isDoneControl.value}" class="">{{item.title}}</span>
      <i *ngIf="!isEdit" (click)="isEdit = !isEdit" class="bi bi-file-arrow-down-fill"></i>
      <i *ngIf="isEdit" (click)="isEdit = !isEdit" class="bi bi-file-arrow-up-fill"></i>
    </span>
  </form>
  <item-edit (saveItem)="saveItem()" (removeItem)="removeItem($event)" [editItem]="item" *ngIf="isEdit"></item-edit>
</li>
