<table class="table mt-5">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Date</th>
    <th scope="col">List</th>
    <th scope="col">Price</th>
    <th scope="col">Type</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of groupArrays; let idx= index">
    <th scope="row">{{idx+1}}</th>
    <td>{{item.date }}</td>
    <td>
      <ul class="list-group">
        <li *ngFor="let shopItem of item.purchases; let idx = index" class="list-group-item">{{idx+1}}. {{shopItem.title}}</li>
      </ul>
    </td>
    <td><ul class="list-group">
      <li *ngFor="let shopItem of item.purchases; let idx = index" class="list-group-item">{{idx+1}}. {{shopItem.price}}</li>
    </ul></td>
    <td><ul class="list-group">
      <li *ngFor="let shopItem of item.purchases; let idx = index" class="list-group-item">{{idx+1}}. {{shopItem.type}}</li>
    </ul></td>
  </tr>
  </tbody>
</table>
